/*** Pricing table */
.pricing {

	.mb-30 {
		margin-bottom: -30px;
	}

	.pricing-item-wraper {
		margin: 45px 0 50px;
	} 

	&__content {

		.title {
			margin-bottom: 10px;
		}

		p {

			+ p {
				margin-top: 10px;
			}
		}
	}

	&__controller {
		padding: 16px 30px;
		display: inline-block;
		background: $bg_gradient;
		@include border-radius(500px);

		@media (max-width: 767px) {
			margin-top: 20px;
			padding: 12px 22px;
		}

		label {
			color: $white;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			@include letter-spacing(-100, 16);

			@media (max-width: 767px) {
				font-size: 15px;
				line-height: 23px;
				@include letter-spacing(-100, 15);
			}
		}

		.toggle {
		  	margin: 0 12px;
		  	display: inline-block;
		  	vertical-align: middle;

		  	@media (max-width: 767px) {
		  		margin: 0 8px;
			}
		}  

		.b {
		  display: block;
		}

		.toggle {
			width: 78px;
			height: 40px;
			overflow: hidden;
			position: relative;
			background: $primary;
			@include border-radius(20px);

			@media (max-width: 767px) {
				width: 70px;
				height: 35px;
			}

			.check {
				top: 0;
				left: 0;
				z-index: 6;
				opacity: 0;
				width: 100%;
				height: 100%;
				display: block;
				cursor: pointer;
				position: absolute;

				&:checked ~ .switch {
					right: 4px;
					left: 53.85%;
					transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
					transition-property: left, right;
					transition-delay: .08s, 0s;
				}
			}
		} 

		.switch {
			top: 4px;
			left: 4px;
			z-index: 1;
			bottom: 4px;
			right: 53.85%; 
			position: absolute;
			background-color: #fff;
			@include border-radius(36px);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			transition-property: left, right;
			transition-delay: 0s, .08s;
		}
	}

	&__card {
		overflow: hidden;
		background: $white; 
		margin-bottom: 30px;
		padding: 45px 50px;
		@include border-radius(36px); 
		@include transition(all .3s ease);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);

		@media (max-width: 767px) {
			padding: 30px 25px;
			@include border-radius(16px); 
		}

		&.popuar {  
			z-index: 1;
			padding-top: 90px;
			position: relative;

			&:after { 
				top: 0;
				left: 0;
				width: 100%;
				z-index: -1;
				content: "";
				height: 100%; 
				position: absolute;  
				@include border-radius(36px);
				background-origin: border-box;
				border: double 4px transparent;
				background-clip: content-box, border-box;
				background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ef66c5 0%, #364ddd 49.75%, #00bfe8 100%);

				@media (max-width: 767px) {
					@include border-radius(16px); 
				}
			} 

			.popuar__text {
				top: 0; 
				color: $white;
				font-size: 24px;
				font-weight: 700;
				line-height: 34px;
				position: absolute;
				display: inline-block;
				left: calc(50% - 175px);
				padding: 11px 98px 9px;
				background: $bg_gradient;
				@include border-radius(0 0 22px 22px);

				@media (max-width: 1199px) {
					font-size: 20px;
					line-height: 30px;
					left: calc(50% - 161px);
				} 

				@media (max-width: 767px) {
					font-size: 18px;
					padding: 8px 58px;
					line-height: 28px;
					left: calc(50% - 115.68px);
				} 
			}

			.pricing__card-header {

				.sub-title {
					color: $textcolor;
				}
			}

			.pricing__card-body .btn {
				border: none;
				color: $white;
				padding: 16px 24px;
				background: $bg_gradient;

				@media (max-width: 767px) {
					padding: 15px 20px;
				}
			}
		}

		&-header {
			margin-bottom: 20px;

			.sub-title {    
				color: $textcolor;  
				@include transition(all .3s ease);
			}

			.title {  
				@include transition(all .3s ease);

				span {

					&:before {
						top: 0;
						left: 0;
						content: "$"; 
					}
				}
			}

			p { 
				@include transition(all .3s ease);

				a {
					text-decoration: underline;
				}

				+ p {
					margin-top: 10px;
				}
			}
		}

		&-body {

			ul {
				margin-bottom: 0;
				padding-left: 20px;
				margin-bottom: -14px;

				li {
					font-weight: 700;
					margin-bottom: 14px;
					@include transition(all .3s ease);

					@media (max-width: 767px) {
						font-size: 16px;
						line-height: 26px;
					}
				}
			}

			.btn {
				margin-top: 25px;

				@media (max-width: 767px) {
					padding: 15px 20px;
				}
			}
		}

		&.varies {
			background: $primary;

			.pricing__card {

				&-header {

					.sub-title {
						color: $white;
					}

					.title {
						color: $white;

						@media (max-width: 1199px) {
							font-size: 30px;
							line-height: 40px;
						}
					}

					p {
						color: $white;

						strong {
							color: $white;
						}

						a {
							color: $white;
						}
					}
				}

				&-body {

					ul {

						li {
							color: $white;
						}
					}

					.btn {
						color: $black;
						background: $white;

						&:hover, &:focus {
							color: $dark_white;
						}
					}
				}
			}
		}
	}

	&-bottom {
		column-gap: 30px;
		background: #fff;
		padding: 30px 25px;
		@include border-radius(16px);
		box-shadow: 0px 36px 56px rgba(0, 0, 0, 0.04);

		@media (max-width: 480px) {
			padding: 25px 20px;
		}

		&__content {
			margin-bottom: 30px;

			.sub-title {
				font-size: 24px;
				list-style: 34px;
				font-weight: 700;
				color: $textcolor;

				@media (max-width: 767px) {
					font-size: 20px;
					list-style: 30px;
				}
			}

			&-ul-wraper {
				margin-top: 15px;
				margin-bottom: -30px;

				ul {
					column-count: 2; 
					column-gap: 50px;
					padding-left: 20px;
					margin-bottom: 11.5px;

					@media (max-width: 767px) {
						column-gap: 15px; 
					}

					li {
						font-size: 18px;
						font-weight: 700;
						line-height: 18px;
						margin-bottom: 18.5px;

						@media (max-width: 767px) {
							font-size: 16px;
							line-height: 16px;
						}
					}
				}
			}

			&-btn {
				margin-bottom: 30px;
			}
		}
	}
}

.hide {
	display: none;
}