/***********************************
Template: Agencyzilla - The Digital Marketing Agency for Startups
Author: RRDevs
Author URI: https://themeforest.net/user/ahmmedsabbirbd
Description: The Digital Marketing Agency for Startups
Version: 1.0.0
***********************************/

// BASIC
@import 'basic';

// MIXIN
@import 'variables';

// TYPOGRAPHY
@import 'typography';

// ANIMATION
@import 'animation';

// Page Load Animation 
@import 'pageLoadAnimation';

// Button 
@import 'btn';

/***********************************
    Template Section Styles
***********************************/

// HEADER 
@import 'header';

// BANNER
@import 'banner';

// HOME
@import 'home-page';

// BLOG
@import 'blog';

// BLOG PAGE
@import 'blog-page';

// BLOG DETAILS PAGE
@import 'blog-details-page';

// SIDEBAR
@import 'sidebar';

// FOOTER 
@import 'footer';